body {
  background-color: #e9d8a6;
}

.box {
  display: inline-block;
  border: 1px solid #005f73;
  width: 15px;
  height: 15px;
  margin-left: -1px;
  margin-bottom: -1px;
  }

.off {
  background-color: #0a9396;
}

.on {
  background-color: #bb3e03;
}

.box:hover {
  background: #ae2012;
}

.center {
  margin: auto;
  display: table;
  margin-top: 10px;
}

.grid {
  width: 150px;
  line-height: 0;
  margin: auto;

  margin-top: 20px;
}

h1, h2, h3, h4 {
  font-family: Arial, Helvetica, sans-serif;
  color: #006073d8;
  margin: auto;
  text-align: center;
  width: 50%;
  margin-top: 10px;
}

h4 {
  margin-top: 0px;
}
